configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  
}
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
@theme "/home/narmis/.dotfiles/rofi/themes/simple-tokyonight.rasi"
